.swiper-container {
  margin: 0;
  width: 100vw;
}
.swiperOne .swiper-wrapper {
  margin-bottom: 0.2rem;
}
.swiperTwo .swiper-wrapper {
  margin-bottom: 0.2rem;
}
.swiperTwo .swiper-slide img {
  width: 96%;
}
.swiperTwo .swiper-slide:last-child img {
  width: 100%;
}
.swiperTwo .swiper-slide:last-child img {
  margin-right: 0;
}
