.zhuyeheader {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  height: 1.75rem;
}
.zhuyeheader img {
  display: block;
  width: 3rem;
  margin-left: 40%;
}
.zhuyeheader span {
  display: block;
  font-size: 0.8rem;
  margin-top: 0.65rem;
  margin-right: 0.2rem;
}
.zhuyesearch {
  background-image: url('https://dev.tencent.com/u/GreatDseven/p/images/git/raw/master/zhuye_search2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 100%;
  top: 0;
  z-index: 2;
  transition: 0.5s;
}
.zhuyesearch span {
  display: block;
  font-size: 0.8rem;
  margin-left: 80%;
  margin-top: 0.7rem;
}
