.tuijian-main {
  padding-bottom: 2rem;
}
.tuijian-main .tuijian-main-top {
  display: flex;
  justify-content: space-between;
  background-color: #c9c9c9;
}
.tuijian-main .tuijian-main-top span {
  width: 50%;
  display: block;
  text-align: center;
  font-size: 0.4rem;
  line-height: 0.9rem;
}
.tuijian-main .tuijian-main-top span:first-child {
  color: #fff;
  background: linear-gradient(to right, #ce8d89, #d12a18);
  border-radius: 0 1rem 1rem 0;
  padding-left: 2rem;
}
.tuijian-main .tuijian-main-top span:last-child {
  color: #000;
  background-color: #c9c9c9;
  padding-right: 2rem;
  border-radius: 1rem 0 0 1rem;
}
.tuijian-main-section {
  display: flex;
  overflow: hidden;
  transition: 1s;
}
.tuijian-main-section > div {
  width: 10.8rem;
}
.tuijian-main-section div img {
  width: 100vw;
  height: 5.4rem;
  display: block;
}
