.swiper-container {
  margin: 0;
}
.swiper-slide > img {
  width: 100%;
  display: block;
}
.swiper-container .swiper-slide:nth-child(5) div {
  position: absolute;
  left: 50%;
  top: 70%;
  margin-left: -2.8rem;
  color: #3c3b40;
}
.swiper-container .swiper-slide:nth-child(5) div h3 {
  text-align: center;
  font-size: 0.8rem;
}
.swiper-container .swiper-slide:nth-child(5) div h4 {
  text-align: center;
  font-size: 0.6rem;
  margin-top: 1rem;
}
.swiper-container .swiper-slide:nth-child(6) > div {
  position: absolute;
  top: 30%;
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
}
.swiper-container .swiper-slide:nth-child(6) > div > div input {
  width: 100%;
  border: 0;
  text-align: center;
  margin-bottom: 0.1rem;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #c1beb7;
  margin-bottom: 0.2rem;
  padding-top: 0.3rem;
}
.swiper-container .swiper-slide:nth-child(6) div > div a {
  text-decoration: none;
  color: #69665b;
  font-size: 0.6rem;
  margin-top: 2rem;
}
.swiper-container .swiper-slide:nth-child(6) > div > div:nth-child(2) {
  display: flex;
  justify-content: space-around;
}
.swiper-container .swiper-slide:nth-child(6) > div > div:nth-child(3) {
  margin-top: 5.7rem;
  text-align: center;
  font-size: 0.4rem;
  color: #3c3b40;
}
.swiper-container .swiper-slide:nth-child(6) div .home-bottom {
  margin-top: 0.9rem;
  display: flex;
  justify-content: space-between;
}
.swiper-container .swiper-slide:nth-child(6) div .home-bottom span {
  display: block;
  font-size: 0.7rem;
  color: #3c3b40;
}
.swiper-container .swiper-slide:nth-child(6) div .home-bottom p {
  display: block;
  font-size: 0.7rem;
  color: #000;
  margin-left: 0.02rem;
}
.swiper-container .swiper-slide:nth-child(6) div .home-bottom div {
  display: flex;
  justify-content: space-between;
}
